/*******************
    GOOGLE FONTS
*******************/

@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/*********************
    CONFIG. GERAIS
*********************/

* {
    padding: 0;
    margin: 0;
}

:root { 
    /* CORES PRINCIPAIS */
    --corFundoPadrao: #fa66c6; 
    --corFundoPrincipal: #3677d1;
    --corDestaquePadrao: #1a1a1a;
    
    /* CORES DA INTERFACE */
    --corBotoes: #b6c3f8;
    --corCampos: #e7eaf7;

    /* CORES DAS CATEGORIAS */
    --corAcompanhamentos: #cadbe9; 
    --corBebidas: #e2dd78; 
    --corKids: #e27878; 
    --corSanduiches: #fe5c37; 
    --corSobremesas: #70b38f; 
    --corTodos: #ffbdd8; 

    /* FONTES */
    --fonteTitulo: 'New Rocker'; 
    --fontePadrao: 'Outfit'; 
}

button:hover {
    cursor: pointer;
}

html {
    background-color: var(--corFundoPrincipal);
    font-family: var(--fontePadrao);
}

/******************
    MASTHEAD
*******************/

header {
    display: flex;
    padding: 30px;
    position: sticky;
    text-align: center;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: var(--corFundoPadrao);
    font-size: 20px;
    font-family: var(--fonteTitulo);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

header h1 {
    margin: 0;
    color: var(--corDestaquePadrao);
}

#logo {
    position: absolute;
    left: 2rem;
    width: 50px;    
}

#carrinho {
    position: absolute;
    right: 2rem;
    border: none;
    color: var(--corDestaquePadrao);
    background-color: transparent;
}

#carrinho i {
    font-size: 30px;
}

#acessibilidade {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 100%;
    transform: translateY(-50%);
    border: 3px solid var(--corDestaquePadrao);
    background-color: var(--corBotoes);
}

#acessibilidade i{
    font-size: 20px;
}

/*********************
    TIPO DE PEDIDO
*********************/

.tipo-pedido {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

#botao-delivery, #botao-retirada {
    display: flex;
    flex-direction: column;
    height: 200px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--corBotoes);
    color: var(--corDestaquePadrao);
    font-weight: 600;
    border: 3px solid var(--corDestaquePadrao);
}

#botao-delivery i, #botao-retirada i {
    font-size: 50px;
}

#botao-delivery:hover, #botao-retirada:hover {
    background-color: #beb5b5bb;
}

/***********************
    FILTRAR CARDÁPIO
***********************/

.filtrar-cardapio {
    display: flex;
    padding-bottom: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.filtrar-cardapio button {
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 16px;
    color: var(--corDestaquePadrao);
    border: 3px solid var(--corDestaquePadrao);
    background-color: var(--corBotoes);
}

.filtrar-cardapio i {
    padding-right: 0.5rem;
}

/******************
    CARROSSEL
*******************/

.carrossel-cardapio {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.carrossel-cardapio > button {
    width: 80px;
    height: 80px;
    font-size: 50px;
    border: none;
    background-color: transparent;
    transition: transform 0.3px ease;
}

.carrossel-cardapio > button:hover {
    border-radius: 40px;
    transform: scale(1.1);
}

#cardapio{
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.item-card {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 225px;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
}

.item-card:hover {
    cursor: pointer;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    font-family: var(--fontePadrao);
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.item-info .descricao {
    display: flex;
    line-height: 1.1;
    height: calc(1.2em * 3);
    align-items: center;
    overflow: hidden;
    font-size: 18px;
}

.item-quantia {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.item-quantia span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: white;
    width: 150px;
    border-radius: 18px;
}

.diminuir-quantia, .aumentar-quantia {
    font-size: 25px;
    border-radius: 15px;
    align-items: center;
    border: none;
    background-color: var(--corFundoPadrao);
}

.adicionar-item {
    padding: 8px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: var(--corFundoPadrao);
}


#kids:hover {
    background-color: var(--corKids);
    color: white;
}

#acompanhamentos:hover {
    background-color: var(--corAcompanhamentos);
    color: white;
}

#bebidas:hover {
    background-color: var(--corBebidas);
    color: white;
}

#sanduiches:hover {
    background-color: var(--corSanduiches);
    color: white;
}

#sobremesas:hover {
    background-color: var(--corSobremesas);
    color: white;
}

.filtrar-todos:hover {
    background-color: var(--corTodos);
    color: white;
}

.item-info .descricao {
    line-height: 1.2;
    min-height: calc(1.2em * 2);
    font-size: 18px
} 

.item-info img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

/**************
    FOOTER
**************/

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--corFundoPadrao);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.footer-institucional {
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--corDestaquePadrao);
}

.footer-institucional img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    justify-self: center;
    margin-bottom: 1rem;
}

h1{
    text-align: center;
    font-family: var(--fonteTitulo);
    color:var(--corDestaquePadrao);
    padding-bottom: 1rem;
}

.footer-institucional li a{
    text-decoration: none;
}

.footer-institucional a:hover{
    text-decoration: underline;
}

.info-institucional ul{
    gap: 2rem;
    display: flex;
    list-style: none;
}

.info-institucional a {
    color: black;
    font-size: 20px;
}

.footer-social {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    padding-top: 0.8rem;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}

.footer-social h2 {
    text-align: center;
    font-size: 25px;
}

.footer-social ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.footer-social a {
    color: var(--corFundoPadrao);
    font-size: 25px;
    margin: 1.5rem;
    background-color: #3677d1;
    padding: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 10px;
    color: var(--corFundoPadrao);
}

/***********************
    DIRETRIZES.HTML
***********************/

.diretrizes-dados {
    width: 70%;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 20px;
    background-color: var(--corBotoes);
}

.diretrizes-dados section {
    margin-bottom: 2rem;
}

.diretrizes-dados h1 {
    margin-bottom: 0.5rem;
    color: var(--corDestaquePadrao);
}

.diretrizes-dados h2 {
    margin-bottom: 0.8rem;
}

.diretrizes-dados p {
    line-height: 1.6;
}

.diretrizes-dados li {
    margin-bottom: 0.4rem;
    color: var(--corDestaquePadrao);
}

.ultima-atualizacao {
    margin-bottom: 3rem;
}

.assinatura {
    margin-top: 3rem;
    font-weight: bold;
}

/***************************
    TRABALHECONOSCO.HTML
***************************/

.trabalhe-conosco {
    width: 50%;
    margin: 2rem auto;
    padding: 3rem;
    border-radius: 20px;
    background-color: var(--corBotoes);
}

.trabalhe-conosco h1 {
    color: var(--corDestaquePadrao);
}

.campo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

.campo input,
.campo select,
.campo textarea {
    padding: 0.7rem;
    border-radius: 20px;
    font-size: 16px;
    color: var(--corDestaquePadrao);
    border: 3px solid var(--corDestaquePadrao);
    background-color: var(--corCampos);
    font-family: var(--fontePadrao);
}

.campo textarea {
    resize: vertical;
}

.trabalhe-conosco button {
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 16px;
    color: var(--corDestaquePadrao);
    border: 3px solid var(--corDestaquePadrao);
    background-color: #b6c3f8;
    cursor: pointer;
    margin-bottom: 2rem;
}

.campo input[type="file"] {
    color: var(--corDestaquePadrao);
    font-size: 16px;
}

.campo input[type="file"]::file-selector-button {
    padding: 0.5rem;
    margin-right: 1rem;
    border-radius: 20px;
    font-size: 16px;
    color: var(--corDestaquePadrao);
    border: 1px solid var(--corDestaquePadrao);
    background-color: #e7eaf7;
    cursor: pointer;
}
